<div class="row">
  <div class="col-md-6">
    <h2>Were you ticketed for &quot;failure to ride in a bike lane&quot;?</h2>
    <p>You were most likely improperly ticketed.  We are gathering signatures for a class action lawsuit against the City of New York.</p>
    <p class="text-center">
      <%= link_to "Join The Lawsuit", new_plaintiff_path, :class => "btn btn-primary"  %>
    </p>

    <h2>What is this?</h2>
    <p>This website exists to collect the information of those who have been ticketed in New York City for riding outside of a bicycle lane.  The goal of this collection is to provide the foundation for a class action lawsuit against the City of New York.  These &quot;failure to use the bike lane&quot; tickets are <a href="http://drmtlaw.com/areas-of-practice/bikes/bike-law/" target="_blank">most likely not legally sound</a> but fighting them individually often costs more than the the fine.  We will be more effective together.</p>

    <p><strong><em>We want to put a stop to these tickets altogether and, ideally, collect a settlement to reimburse the money the city took from us</em></strong>.</p>
    <p>By providing your information you elect to participate in the lawsuit and settlement, should such a lawsuit and settlement happen.  You may elect for your name to be public or private. Public names appear here as signers of the lawsuit.  Private names are stored in our database as signers and are counted in number.  All information provided will be presented for legal scrutiny in the lawsuit proceedings.</p>

    <p>Your address, phone number, zip code, and email will be encrypted in our database.</p>

    <h2>Who made this?</h2>
    <p>NYC Bike Lane Ticket was created by <a href="http://www.danconnor.com" target="_blank">Dan Connor</a>, a web developer in New York.  He bikes a lot and was hit by several of these tickets. The <a href="https://github.com/onyxrev/nycbikelaneticket" target="_blank">source code</a> for this project is open source.</p>
  </div>
  <div class="col-md-6">
    <h2>Recent Public Signatures</h2>
    <%= render :partial => "shared/recent_signatures", :locals => { plaintiffs: @plaintiffs } %>
  </div>
</div>
